/*============== GOOGLE FONTS ==============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap');

/*============== VARIABLES CSS ==============*/
:root {
  --header-height: 6rem;

  /*============== Colors ==============*/
  /*Color mode HSL (Hue, Saturation, Lightness)*/
  --first-color: hsl(350, 98%, 64%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 77%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);
  --border-color: hsla(0, 0%, 100%, .2);

  /*============== Font and Typography ==============*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --second-font: 'Montserrat', sans-serif;

  --big-font-size: clamp(2rem, 0.9706rem + 4.7059vw, 4.5rem);
  --h1-font-size: clamp(1.75rem, 0.9265rem + 3.7647vw, 3.75rem);
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;

  /*============== Font weight ==============*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /*============== Transition ==============*/
  --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

  /*============== Border radius ==============*/
  --radius: .5rem;

  /*============== z-index ==============*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*============== Responsive Typography ==============*/
@media screen and (max-width: 992px) {
  :root {
    --header-height: 5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9375rem;
    --smaller-font-size: 0.813rem;
  }
}

/*============== BASE ==============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-300);
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--body-color);
  position: relative;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-700);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.67em;
}
img {
  max-width: 100%;
  object-fit: cover;
}
textarea,
input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}

/*============== REUSABLE CSS CLASSES ==============*/
.container {
  max-width: 1260px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
.grid {
  display: grid;
  gap: 1.75rem;
}
.section {
  padding-block: 8rem;
}
.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}
.section-title:not(.about .section-title, .contact .section-title),
.section-description {
  text-align: center;
  margin-bottom: 3.75rem;
}
.button {
  display: inline-block;
  color: var(--title-color);
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 2.5rem;
  border-radius: var(--radius);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}
.button:hover {
  background-color: transparent;
  color: var(--first-color);
}
.first-color {
  color: var(--first-color);
}

/*============== HEADER ==============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}
.nav,
.nav-list,
.nav-social {
  display: flex;
}
.nav {
  height: calc(var(--header-height) + 2.5rem);
  align-items: center;
  justify-content: space-between;
  column-gap: 3.5rem;
}
.nav-list {
  column-gap: 2rem;
}
.nav-link,
.nav-social-button {
  font-size: var(--small-font-size);
  color: var(--title-color);
  transition: all 0.3s var(--transition);
}
.nav-link {
  font-weight: var(--weight-500);
}
.nav-social {
  column-gap: 1.5rem;
  margin-left: auto;
}
.nav-social-button:hover {
  color: var(--first-color);
  transform: translateY(-0.25rem);
}
.nav-link-button {
  font-size: var(--smaller-font-size);
  background-color: transparent;
  border-color: var(--first-color);
  padding: 0.625rem 1.25rem;
}
.nav-link-button:hover {
  background-color: var(--first-color);
  color: var(--title-color);
}
.nav-toggle,
.nav-close {
  display: none;
}
/* Active link */
.active-link,
.nav-link:hover {
  color: var(--first-color);
}
/*Change background header*/
.scroll-header {
  position: fixed;
  background-color: var(--container-color);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, .2);
  animation: slide-down 0.7s;
}
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.scroll-header .nav {
  height: var(--header-height);
}

/*============== HOME ==============*/
.home{
  min-height: 100vh;
  padding-top: 5.50rem;
  padding-bottom: 3rem;
}
.home-container {
  grid-template-columns: 7fr 5fr;
  align-items: end;
}
.home-subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  letter-spacing: 0.25rem;
  margin-bottom: 1.25rem;
  display: block;
}
.home-title {
  font-family: var(--second-font);
  font-size: var(--big-font-size);
  font-weight: var(--weight-900);
}
.home-title span {
  color: var(--first-color);
}
.home-img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 0.75rem solid var(--container-color);
  margin-left: auto;
}

/*============== ABOUT ==============*/
.about {
  background-color: var(--container-color);
}
.about-container {
  grid-template-columns: 5fr 7fr;
  column-gap: 4rem;
  align-items: center;
}
.about-img {
  border-radius: var(--radius);
}
.about-description {
  margin-bottom: 2rem;
}
.tabs-buttons {
  display: flex;
  column-gap: 2.5rem;
  margin-bottom: 1.25rem;
}
.tab-button,
.tabs-description span:first-child {
  font-weight: var(--weight-900);
}
.tab-button {
  cursor: pointer;
  color: var(--title-color);
  position: relative;
  padding-bottom: 0.4rem;
}
.tab-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 2px;
  background-color: var(--text-color);
  transition: all .4s var(--transition);
}
.tabs-data {
  row-gap: 1rem;
}
.tabs-description span:last-child {
  display: block;
}

/*Active Tab*/
.tab-button.tab-active {
  color: var(--first-color);
}
.tab-button.tab-active::after {
  background-color: var(--first-color);
  width: 100%;
}
.tabs-item[data-content] {
  display: none;
}
.tab-active[data-content] {
  display: block;
}

/*============== SERVICES ==============*/
.services-container {
  grid-template-columns: repeat(3, 1fr);
}
.services-item {
  background-color: var(--container-color);
  padding: 3.5rem 2.5rem;
  border-radius: var(--radius);
}
.services-icon {
  color: var(--first-color);
  font-size: 2.75rem;
  line-height: 1;
}
.services-title {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-500);
  margin-block: 1.75rem 1.25rem;
}
.services-description {
  font-weight: var(--weight-400);
}

/*============== PORTFOLIO ==============*/
.portfolio {
  background-color: var(--container-color);
}
.portfolio-container {
  grid-template-columns: repeat(3, 1fr);
}
.portfolio-item {
  position: relative;
  cursor: pointer;
  border-radius: var(--radius);
  overflow: hidden;
}
.portfolio-item::after,
.portfolio-data {
  position: absolute;
  transition: all 0.65s var(--transition);
}
.portfolio-item::after {
  content:'';
  inset: 0;
  background: linear-gradient(180deg, transparent, var(--first-color));
  opacity: 0;
}
.portfolio-image {
  width: 100%;
  vertical-align: middle;
  transition: all 1s var(--transition);
}
.portfolio-data {
  inset-inline: 2rem;
  bottom: 1.25rem;
  text-align: center;
  z-index: var(--z-tooltip);
}
.portfolio-subtitle,
.portfolio-description {
  color: var(--title-color);
  opacity: 0.7;
}
.portfolio-subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}
.portfolio-title {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-600);
  margin-bottom: .75rem;
}
.portfolio-description {
  font-weight: var(--weight-400);
  display: none;
}

.portfolio-item:hover::after {
  opacity: .5;
}
.portfolio-item:hover .portfolio-image {
  transform: scale(1.1);
}
.portfolio-item:hover .portfolio-description{
  display: block;
}
.portfolio-item:hover .portfolio-data {
  transform: translateY(-2rem);
}

/*============== CONTACT ==============*/
.contact-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}
.contact-description,
.contact-input {
  font-weight: var(--weight-400);
}
.contact-description {
  margin-bottom: 3rem;
}
.contact-description a {
  color: var(--title-color);
  font-weight: var(--weight-500);
}
.contact-form {
  position: relative;
}
.contact-input {
  border: 2px solid var(--border-color);
  padding: .8rem 1.25rem;
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--smaller-font-size);
  margin-bottom: 1.25rem;
}
.textarea {
  height: 120px;
  resize: none;
}
.error-message {
  position: absolute;
  bottom: -12%;
  left: 0;
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
}

/*============== FOOTER ==============*/
.footer {
  background-color: var(--container-color);
  padding-block: 2rem;
}
.footer-container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.footer-logo-image {
  width: 100px;
}
.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.footer-social-button {
  color: var(--text-color);
  font-size: 1.5rem;
  transition: all 0.3s var(--transition);
}
.footer-social-button:hover {
  color: var(--first-color);
}
.footer-copy {
  font-size: var(--small-font-size);
  font-weight: var(--weight-400);
  text-align: center;
}

/*============== SCROLL UP ==============*/
.scrollup {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  z-index: var(--z-fixed);
  transition:all 0.4s var(--transition);
  animation: scrollUp 4s linear infinite;
}
.scrollup-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}
.scrollup-icon:hover {
  color: var(--text-color);
}
.show-scroll {
  display: block;
}
@keyframes scrollUp {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/*============== MEDIA QUERIUS ==============*/
@media screen and (max-width: 1200px) {
  .container {
    max-width : 960px
  }
  .nav-link-button {
    display: none;
  }
  .home {
    padding-top: 7rem;
  }
  .home-container,
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .home-content {
    order: 1;
  }
  .home-img,
  .about-img {
    margin-inline: auto;
  }
  .home-img {
    border: 0.5rem solid var(--container-color);
    width: 380px;
    height: 380px;
  }
  .about-container {
    row-gap: 2.5rem;
  }
  .services-container,
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-container {
    column-gap: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .nav {
    column-gap: 1.25rem;
  }
  .nav-close,
  .nav-toggle {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60vw;
    height: 100vh;
    background-color: var(--container-color);
    padding: 3.5rem;
    transition: all 0.8s var(--transition);
  }
  .show-menu {
    right: 0;
  }
  .nav-list {
    flex-direction: column;
    row-gap: 1.125rem;
  }
  .nav-close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .nav-social {
    column-gap: 1rem;
  }
  .nav-toggle {
    font-size: var(--h2-font-size);
    cursor: pointer;
  }
  .home-img {
    width: 320px;
    height: 320px;
  }
  .services-icon {
    font-size: 2.5rem;
  }
  .services-title {
    margin-block: 1.5rem 1rem;
  }
  .contact-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .contact-content {
    order: 1;
  }
  .contact-description {
    margin-bottom: 2rem;
  }
  .footer-social-button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .home-img {
    width: 280px;
    height: 280px;
  }
  .tabs-buttons {
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
  }
  .services-container,
  .portfolio-container,
  .footer-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .nav-menu {
    width: 100vw;
    padding: 2.75rem;
  }
  .home-img {
    width: 260px;
    height: 260px;
  }
  .services-item {
    padding: 2rem 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .home-img {
    width: 240px;
    height: 240px;
  }
  .tabs-description span:last-child {
    display: inline;
  }
  .portfolio-data {
    inset-inline: 1rem;
    bottom: 1rem;
  }
}